
<p-dialog [(visible)]="displayModal" class="contact"  closable="false" resizable="true" (onHide)="hideModalDialog()">
    <ng-template pTemplate="header">
        <div class="titlebar">
            <div class="buttons">
                <div class="close" (click)="hideModalDialog()">
                    <a class="closebutton" href="#"><span class="font-bold">×</span></a>
                </div>
                <div class="minimize">
                    <a class="minimizebutton" href="#"><span class="font-bold">–</span></a>
                </div>
                <div class="zoom">
                    <a class="zoombutton" href="#"><span class="font-bold">+</span></a>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="content"> 
        <div class="grid">
            <div class="col-12">
                <div class="logo">
                    <img src="assets/imgs/logo.webp" class="w-full">
                </div>
            
            </div>
            <div class="col-12 text-center">
                <h1>Contacto</h1>
                <table class="w-full p-3">
                    <tr class="w-full mb-3 flex justify-content-left md:justify-content-center">
                        <td class="text-left font-bold">Email</td>
                        <td class="text-right ml-2 opacity-60"><a href="mailto:juanpework@gmail.com">{{ 'juanpework@gmail.com' }}</a></td>
                    </tr>
                    <tr class="w-full mb-3 flex justify-content-left md:justify-content-center">
                        <td class="text-left font-bold">LinkedIn</td>
                        <td class="text-right ml-2 opacity-60"><a href="https://linkedin.com/in/jpadamuz/" target="_blank">https://linkedin.com/in/jpadamuz/</a></td>
                    </tr>
                    <tr class="w-full mb-3 flex justify-content-left md:justify-content-center">
                        <td class="text-left font-bold">Github</td>
                        <td class="text-right ml-2 opacity-60"><a  href="https://github.com/JuanPeWork" target="_blank">https://github.com/JuanPeWork</a></td>
                    </tr>
                    <tr class="w-full mb-3 flex justify-content-left md:justify-content-center">
                        <td class="text-left font-bold">Ubicación</td>
                        <td class="text-right ml-2 opacity-60">Córdoba, España</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</p-dialog>
