<app-topbar></app-topbar>
<main>
    <section id="home" class="grid w-full h-full flex-column justify-content-start md:justify-content-center align-content-center flex-wrap">
        <div class="col-12 md:col-6">
           <h1 class="text-center">Hola, soy JuanPedro</h1>
           <h2 class="text-center mb-1">Frontend Developer</h2>
        </div>
        <div id="social-networks" class="col-12 md:col-6 flex justify-content-center flex-wrap">
            <span class="line"></span>
            <a  class="icon">
               <img src="assets/icons/angular.svg">
            </a>
            <a  class="icon">
               <img src="assets/icons/ionic.svg">
            </a>
            <a  class="icon">
               <img src="assets/icons/rxjs.svg">
            </a>
            <span class="line"></span>
         </div>
         <div class="col-12 md:col-4 md:col-offset-1 flex justify-content-center flex-wrap mt-3">
            <p class="text-center">Soy Frontend developer especializado en Angular y todo su ecosistema relacionado. Disfruto aprendiendo y aplicando esos conocimientos en proyectos personales.</p>
         </div>
    </section>
    <app-dock></app-dock>
</main>