
<p-dialog [(visible)]="displayModal" class="window" closable="false" resizable="true" (onHide)="hideModalDialog()">
    <ng-template pTemplate="header">
        <div class="titlebar">
            <div class="buttons">
                <div class="close" (click)="hideModalDialog()">
                    <a class="closebutton" href="#"><span class="font-bold">×</span></a>
                </div>
                <div class="minimize">
                    <a class="minimizebutton" href="#"><span class="font-bold">–</span></a>
                </div>
                <div class="zoom">
                    <a class="zoombutton" href="#"><span class="font-bold">+</span></a>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="content"> 
        <div class="grid">
            <div class="col-12 header">
                <div>
                    <img src="assets/imgs/juanpedro.jpg" class="imgMe" alt="">
                </div>
                <div>
                    <h1>Juan Pedro Adamuz</h1>
                    <h3>Frontend Developer</h3>
                </div>
            </div>
            <div class="col-12">
                <h3 class="mx-3">Sobre mí</h3>
                <hr>
                <p class="mx-3">🚀 Cuento con más de 5 años de experiencia como desarrollador frontend, con especialización en todo lo relacionado con Angular y todo su ecosistema relacionado (IONIC, RxJS, NX…). He participado en numerosos proyectos a nivel nacional y europeo, lo que ha contribuido a mi crecimiento profesional al enfrentarme a diversos desafíos. Mi constante búsqueda de optimización me ha llevado a aprender de forma autodidacta, aplicando estos conocimientos tanto en el entorno laboral como en proyectos personales.</p>
                <p class="mx-3">🏆 Mi constante búsqueda de optimización me han llevado a aprender de manera autodidacta aplicando esos conocimientos tanto en entornos laborales como en proyectos personales. Soy un colaborador comprometido y proactivo, con una fuerte ética de trabajo y motivación por el trabajo en equipo.</p>
                <p class="mx-3">😄 Soy una persona alegre y optimista que disfruta de establecer conexiones positivas con quienes me rodean. Mi naturaleza sociable me permite congeniar fácilmente con todo tipo de personas y crear un ambiente de trabajo agradable y colaborativo.</p>
                <p class="mx-3">🤝 Valorando tanto la independencia en mi trabajo como la colaboración en equipo, encuentro un equilibrio entre ambos enfoques. Disfruto trabajando junto a mis compañeros, ya que me permite aprender y crecer tanto a nivel personal como profesional.</p>
            
            </div>
        </div>
    </div>
</p-dialog>
