header {
    transition: all .5s;
    color: rgb(230, 229, 222);

    .icon {
        margin-left: 1rem;
        width: 20px;
        transition: all .5s;
    }

    .menu-item {
        cursor: pointer;
    }

    &:hover {
        background-color: rgb(230, 229, 222);
        color: #121212;
        svg.icon {
            path {
                fill: #121212;
            }
        }
    }

    .clock {
        text-transform: capitalize;
        font-weight: 500;
    }
}

span:not(.clock){
    padding: 5px 10px;
    min-width: 87px;
    text-align: center;
    &:hover {
        font-weight: bold;
        background-color: #6767672e;
        border-radius: 5px;
    }
}

